<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="mysqlport" value="5040" /> <!--index 0-->
    <add key="sqlserverport" value="1433"/> <!--index 1-->
  </appSettings>
</configuration>