@{
    ViewBag.Title = "Contact";
    int x = 2;
    for (int i = 0; i < 10; i++)
    {
       <h2>i</h2>
    }
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <input type="button" value="test" onclick="onclick()"/>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>

<script type="text/javascript">
    function onclick() {
        alert("Je suis un script javascript")
    }
</script>